BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
PointerAlignment: Left
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
